.userListPage {
  flex: 4;

  .userListField {
    display: flex;
    align-items: center;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }

  .editButton {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    margin-right: 15px;
    cursor: pointer;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .addButton {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #3bb077;
    color: white;
    margin-right: 15px;
    cursor: pointer;
  }

  .deleteButton {
    cursor: pointer;
    color: rgb(182, 0, 0);
  }
}
